body {
  margin: 0;
}

.header__content {
  background-color: rgb(72 49 26);
  padding: 0 2.5rem;
}

.header__content-icon {
  display: flex;
  justify-content: space-between;
}

.header__content-icon-title {
  display: flex;
}

.header__content-icon-title span {
  align-self: center;
  font-size: 1.7rem;
  color: white;
}

.header__content-icon-title img {
  padding-left: 0.3rem;
  height: 2.5rem;
  align-self: center;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.selected-border {
  border-bottom: 0.4rem solid #ff7f00;
}

.header__content-icon-list,
.header__content-menu-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header__content-icon-list li,
.header__content-menu-list li {
  align-self: center;
  color: white;
  padding: 1rem;
  cursor: pointer;
  border-right: 0.5px solid rgba(50, 40, 40, 0.544);
  border-left: 0.5px solid rgba(50, 40, 40, 0.544);
}

.header__content-menu-list li {
  padding: 1.5rem 1rem;
}

.header__content-icon-list li:first-child,
.header__content-menu-list li:first-child {
  border-left: 2px solid rgba(50, 40, 40, 0.544);
}

.header__content-icon-list li:last-child,
.header__content-menu-list li:last-child {
  border-right: 2px solid rgba(50, 40, 40, 0.544);
}

.header__content-icon-list li:hover,
.header__content-menu-list li:hover,
.selected {
  background-color: #ff7f00;
}
